* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    outline: none;
}


/*使用after伪元素清除浮动*/

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: " ";
    height: 0;
}

.clearfix {
    *zoom: 1;
}


/*多行溢出(超出省略)*/


/* .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
} */